<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientId" value="xxx.apps.googleusercontent.com" />
    <add key="clientSecret" value="uxpj6hx1H2N5BFqdnaNhIbie" />
    <add key="GoogleAnaltyicsViewId" value="ga:78110423" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>