<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientSecretJsonPath" value="C:\Users\linda_l\Documents\Diamto Test Everything Project\client_secret_1046123799103-d0vpdthl4ms0soutcrpe036ckqn7rfpn.apps.googleusercontent.com.json" />    
    <add key="GoogleAnaltyicsViewId" value="ga:78110423" />
    <add key="APIKey" value="bIzaSyD1mbbGTnmfK-rNLamwuxHk4CFTH_1WET8" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>